
<a routerLink="/cart" class="cart-btn"><img src="../../assets/svg/cart.svg" alt="cart"/></a>

<div class="footer">
    <div class="footer-inner">
        <div class="footer-sides">
            <h2>კონტაქტი</h2>
            <div class="matter">
                <img src="../../assets/svg/gmail.svg" alt="gmail" class="icon">
                <a href="mailto:dermecosmeticsshop@gmail.com">dermecosmeticsshop</a>
                <img src="../../assets/svg/tel.svg" alt="" class="icon">
                <a href="tel:+995598341525">+995 598 34 15 25</a>
            </div>
        </div>
        <div class="border"></div>
        <div class="footer-sides">
            <h2>სოციალური ქსელები</h2>
            <div class="matter">
                <a href="#"><img src="../../assets/svg/instagram.svg" alt="instagram" class="icon"></a><a href="#">instagram</a>
                <a href="#"><img src="../../assets/svg/tiktok.svg" alt="tiktok" class="icon"></a><a href="#">tik tok</a>
            </div>
        </div>
        <div class="border"></div>
        <div class="footer-sides">
            <h2>სერვისები</h2>
            <div class="matter">

            </div>
        </div>
    </div>
    
</div>